<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DromitoryDrive</title>

    <!-- Bootstrap -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
	 <div class="container">
		  <div class="row row-offcanvas row-offcanvas-right">
			<div class="col-xs-12 col-sm-9">
			  <div class="jumbotron">
				<h1>DormitoryDrive.Upload</h1>
				<p>You are not only a Consumer but also...</p>
			  </div>
        <form action='' method=post enctype=multipart/form-data class="navbar-form navbar-center" role="form">
          <div class="form-group">
            <input type=file name=file placeholder="file path" class="form-control">
            <input type=submit value=Upload class="btn btn-success">
          </div>
        </form>
        <footer>
          <p>&copy; Netkai (Wirelessia) 2014</p>
        </footer>
      </div>
      </div>
	</div><!--/.container-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" />
    <script src="/static/bootstrap/js/bootstrap.min.js" />
  </body>
</html>
